#bs_grid-dialog-form .bs_grid-dialog-step--select .form-radios {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

#bs_grid-dialog-form .bs_grid-dialog-step--select .form-radios .form-item-num-columns {
  margin: 0 0 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  min-height: 1px;
}

#bs_grid-dialog-form .bs_grid-dialog-step--select .form-radios input {
  display: none;
}

#bs_grid-dialog-form .bs_grid-dialog-step--select .form-radios input:checked ~ label {
  background: powderblue;
}

#bs_grid-dialog-form .bs_grid-dialog-step--select .form-radios input:checked:disabled ~ label {
  background: lightgrey;
}

#bs_grid-dialog-form .bs_grid-dialog-step--select .form-radios label {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#bs_grid-dialog-form .bs_grid-dialog-step--select .form-radios label p {
  margin: 0;
}

#bs_grid-dialog-form .bs_grid-dialog-step--layout .vertical-tabs {
  display: flex;
  margin: 0;
}

#bs_grid-dialog-form .bs_grid-dialog-step--layout .vertical-tabs .vertical-tabs__menu {
  float: none;
  width: auto;
  margin: 0;
}

#bs_grid-dialog-form .bs_grid-dialog-step--layout .vertical-tabs .vertical-tabs__panes {
  margin: 0;
}

#bs_grid-dialog-form .bs_grid-dialog-step--layout .vertical-tabs .vertical-tabs__panes input[type="radio"] {
  position: relative;
}
